%h1 Photos

%input.form-control(type='text' ng-model='search' placeholder='Поиск')
= link_to 'Загрузить фото', new_photo_path
.row
  -@photos.each do |photo|
    .col-xs-6.col-md-3
      %a(href="#{photo_path(photo)}" class='thumbnail')
        %img(src="#{photo.image.thumb('100x100').url}")
